****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
import numpy as np
import json
from pandas.io.json import json_normalize

In [2]:
#load json file
src_data=json.load((open('data/world_bank_projects.json')))

In [6]:
#find top 10 countries with most projects
#i.create data frame by normalizing json file
#ii. count number of projects for each country.
#iii. sort most number and list the top 10
df=json_normalize(src_data,'_id',['countryname','countryshortname','project_name'])
df.countryname.value_counts().head(10)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [11]:
#create new normalized dataframe using mjtheme_namecode
#find top 10 project names.  I believe top 10 refers to the first 10?
#or does top 10 refers to top most common project names?
df2=json_normalize(src_data,'mjtheme_namecode',['countryname','countryshortname'])
#to get the first 10 projects including blanks.
df2.name.head(10)

0                               Human development
1
2                             Economic management
3           Social protection and risk management
4                           Trade and integration
5                        Public sector governance
6    Environment and natural resources management
7           Social protection and risk management
8                     Social dev/gender/inclusion
9                     Social dev/gender/inclusion
Name: name, dtype: object

In [13]:
#to get the top 10 most common names
df2.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [18]:
#to fill in missing names:
#i.sort by code and theme name
#ii. apply NaN to the missing blank spaces using replace 
#iii. use backfill to replace NaN's prior to a given name with the given name 
df2=df2.sort_values(by=['code','name'])
df2.head(10)

     code                 name countryshortname                   countryname
212     1                               Liberia           Republic of Liberia
363     1                         Cote d'Ivoire     Republic of Cote d'Ivoire
1024    1                              Tanzania   United Republic of Tanzania
1114    1                              Honduras          Republic of Honduras
1437    1                             Guatemala         Republic of Guatemala
2       1  Economic management          Tunisia           Republic of Tunisia
88      1  Economic management       Seychelles        Republic of Seychelles
175     1  Economic management      Afghanistan  Islamic State of Afghanistan
204     1  Economic management  Kyrgyz Republic               Kyrgyz Republic
205     1  Economic management  Kyrgyz Republic               Kyrgyz Republic

In [19]:
df3= df2.apply(lambda x: x.str.strip()).replace('', np.nan)
df3.head(10)

     code                 name countryshortname                   countryname
212     1                  NaN          Liberia           Republic of Liberia
363     1                  NaN    Cote d'Ivoire     Republic of Cote d'Ivoire
1024    1                  NaN         Tanzania   United Republic of Tanzania
1114    1                  NaN         Honduras          Republic of Honduras
1437    1                  NaN        Guatemala         Republic of Guatemala
2       1  Economic management          Tunisia           Republic of Tunisia
88      1  Economic management       Seychelles        Republic of Seychelles
175     1  Economic management      Afghanistan  Islamic State of Afghanistan
204     1  Economic management  Kyrgyz Republic               Kyrgyz Republic
205     1  Economic management  Kyrgyz Republic               Kyrgyz Republic

In [20]:
df3['name']=df3['name'].fillna(method='bfill')
df3.head(10)

     code                 name countryshortname                   countryname
212     1  Economic management          Liberia           Republic of Liberia
363     1  Economic management    Cote d'Ivoire     Republic of Cote d'Ivoire
1024    1  Economic management         Tanzania   United Republic of Tanzania
1114    1  Economic management         Honduras          Republic of Honduras
1437    1  Economic management        Guatemala         Republic of Guatemala
2       1  Economic management          Tunisia           Republic of Tunisia
88      1  Economic management       Seychelles        Republic of Seychelles
175     1  Economic management      Afghanistan  Islamic State of Afghanistan
204     1  Economic management  Kyrgyz Republic               Kyrgyz Republic
205     1  Economic management  Kyrgyz Republic               Kyrgyz Republic

In [ ]:
#Further questions: How to normalize double nested json files.
#ie. how to normalize 'Name' and 'Percent' from 'majorsector_percent'

In [32]:
test=json_normalize(src_data,'countrycode',['countryname','majorsector_percent',['Name','Percent']])
test.head(10)

KeyError: 'Name'