In [2]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [3]:
document = ET.parse( './data/mondial_database.xml' )

In [4]:
import numpy as np
import pandas as pd
data=[]
for element in document.findall('country'):
    countryname=element.find('name').text
    for subelement in element.getiterator('country'):
        infmort = (subelement.findtext('infant_mortality'))
        if infmort is False:
            infmort=np.nan
        data.append([countryname,infmort])
df=pd.DataFrame(data,columns=['countryname','infmort']).sort_values('infmort', ascending=True)

In [5]:
df.head(10)

              countryname infmort
38                 Monaco    1.81
30                Romania   10.16
153                  Fiji    10.2
69                 Brunei   10.48
132               Grenada    10.5
237             Mauritius   10.59
124                Panama    10.7
243            Seychelles   10.77
102  United Arab Emirates   10.92
113              Barbados   10.93

In [6]:
import numpy as np
import pandas as pd

data2=[]
for element in document.findall('country'):
    countryname=element.find('name').text
    totalpop=element.find('population[@year="2011"]')
    if totalpop is None:
        totalpop=np.nan
    else:
        totalpop=int(totalpop.text)
        
        #for ethnicgrp in country.findall('ethnicgroup'):
         #   ethnicgrp1=ethnicgrp.text
          #  percent=float(ethnicgrp.attrib['percentage'])
           # epop=int(totalpop*percent/100)
            
    data2.append([countryname,totalpop])
df2=pd.DataFrame(data2,columns=['countryname','totalpop']).sort_values('totalpop',ascending=False)

In [8]:
df2.head(10)

        countryname      totalpop
67            India  1.210855e+09
202         Nigeria  1.642945e+08
65       Bangladesh  1.497724e+08
11          Germany  8.021970e+07
56             Iran  7.514967e+07
7            France  6.493340e+07
53   United Kingdom  6.318218e+07
13            Italy  5.943374e+07
205    South Africa  5.177056e+07
8             Spain  4.681592e+07